<!DOCTYPE html>
<html lang="en">
    <!-- Headers -->
    <%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>G Test</h1>
                            <h2 class="subheading">G test is the final test need to grab the G license.</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Mohit Kataria</a>
                                on October 07, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <h2>Please enter your license number</h2>
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/fetchUser" method="get">
                                <div class="form-floating">
                                    <input class="form-control" id="licenseNumber" name="licenseNumber" type="text" placeholder="Enter your license number" data-sb-validations="required" />
                                    <label for="name">License Number</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Must be 8 characters.</div>
                                </div>
                                <br>
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
                            </form>
                            <br>

                            <u>Car Details</u>
                            <% if(typeof G2User != "undefined"){ %>
                                <% if(G2User == null){ %>
                                    <p>User not found</p>
                                <% } else { %>
                                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/updateUser" method="post">
                                        <!-- <div class="form-floating"> -->
                                            <!-- <div class="input-box1"> -->
                                            <!-- <div class="form-control"> -->
                                                <!-- <span >First Name</span> -->
                                                <div class="form-floating">
                                                    <input class="form-control" type="text" name="firstName" readonly value="<%= G2User.firstName %>">
                                                    <label for="name">First Name</label>
                                                </div>
                                            <!-- </div> -->
                                            <!-- <div class="input-box1"> -->
                                            <!-- <div class="form-control"> -->
                                                <div class="form-floating">
                                                    <input class="form-control" type="text" name="lastName" readonly value="<%= G2User.lastName %>">
                                                    <label>Last Name</label>
                                                </div>
                                                <!-- <span class="details1">Last Name</span> -->
                                            <!-- </div> -->
                                            <!-- <div class="input-box1"> -->

                                                <div class="form-floating">
                                                    <input class="form-control" type="text" name="licenseNumber" readonly value="<%= G2User.licenseNumber %>">
                                                    <label >License Number</label>
                                                </div>

                                                <div class="form-control">
                                            </div>
                                            <!-- <div class="input-box1"> -->
                                                <div class="form-control">
                                                <span class="details1">Age</span>
                                                <input type="text" name="age" readonly value="<%= G2User.age %>">
                                            </div>
                                            <!-- <div class="input-box1"> -->
                                                <div class="form-control">
                                                <span class="details1">DOB</span>
                                                <input type="text" name="dob" readonly value="<%= new Date(G2User.dob).toDateString() %>">
                                            </div>
                                            <br>

                                            
                                            <u>Car Details</u>
                                            <div class="form-control">
                                                <span class="details">Make</span>
                                                <input type="text" name="carDetails[make]" value="<%= G2User.carDetails.make %>">
                                            </div>

                                            <div class="form-control">
                                                <span class="details">Model</span>
                                                <input type="text" name="carDetails[model]" value="<%= G2User.carDetails.model %>">
                                            </div>
                                            
                                            <div class="form-control">
                                                <span class="details">Year</span>
                                                <input type="text" name="carDetails[year]" value="<%= G2User.carDetails.year %>">
                                            </div>
                                            
                                            <div class="form-control">
                                                <span class="details">Plate Number</span>
                                                <input type="text" name="carDetails[plateNumber]" value="<%= G2User.carDetails.plateNumber %>">
                                            </div>
                                            
                                            <button id="submit" type="submit">Update</button>
                                        <!-- </div> -->
                                    </form>
                                <% } %> 
                            <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Footer-->
        <%- include('layouts/footer'); -%>

        <!-- Scripts -->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
